<div class="card"
 [ngStyle]="getBackgroundStyle()">
    @switch (type_card) {
        @case ("personal") {
            <p>
                Name: {{person.name}}
            </p>
            <p>
                LastName: {{person.lastName}}
            </p>
            <p>
                Type: {{person.type}}
            </p>
            @if (person.type==="student") {
                <p>
                    Score: {{getScore()}} 
                </p>
            }
            @else {
                <p>
                    Subject: {{ person.subject}}
                </p>
            }
        }
        @case ("geographic") {
            <p>
                Address: {{person.address.number}}# {{person.address.street}} {{person.address.zone}}
            </p>
            <p>
                Country: {{person.country}}
            </p>
            <p>
                Province: {{person.province}}
            </p>
            
        }

        @case ("messages") {
            <search (search)="onSearch($event)"></search>
            @for (message of messages!; track $index) {
                <item
                 [information]="getInformation(message)"
                 [type_item]="'type-message'"
                 ></item>
            }
        }
        @default {
            <p>
                Name: ""
            </p>
            <p>
                LastName: ""
            </p>
            <p>
                Type: ""
            </p>
    
        }

    }
</div>
