.calculator{
    
    padding: 20px;
    
    .buttons-container{
        display: flex;
        flex-direction: row;

        .sum{
            background-color: yellow;
        }

        .mul{
            background-color: whitesmoke;
        }
        
        .reset{
            background-color: cadetblue;
        }
    }

}


.history{
    display: flex;
    flex-direction: column;
}

.base{
    border: 1px green solid;
    display: flex;
    flex-direction: row;
}