<div class="user-container">
  <div class="tabs">
    <button 
      class="tab" 
      [ngClass]="activeTab === 'user' ? 'active' : ''" 
      (click)="setActiveTab('user')">
      User
    </button>
    <button 
      class="tab" 
      [ngClass]="activeTab === 'notifications' ? 'active' : ''" 
      (click)="setActiveTab('notifications')">
      Notifications ({{ user!.notifications.length }})
    </button>
  </div>

  <!-- Sección de información del usuario -->
   <div *ngIf="activeTab === 'user'">

    <div  class="user-info">
      <p><strong>Name:</strong> {{user!.name}}</p>
      <p><strong>Age:</strong> {{user!.age}}</p>
      <p><strong>Status:</strong> {{user!.status}}</p>
      <p><strong>Subscription type:</strong></p>
  
      <button 
        [ngClass]="user?.subscriptionType === 'free' ? 'subscription-button premium' : 'subscription-button'"
        (click)="updateSubscription('free')">
        Free
      </button>
  
      <button 
        [ngClass]="user?.subscriptionType === 'premium' ? 'subscription-button premium' : 'subscription-button'"
        (click)="updateSubscription('premium')">

        Premium
      </button>
  
      <p><strong>Amount available:</strong> {{user!.amountAvailable}}$</p>
    </div>

    <div class="social-networks">
      <h3>Available Social Networks</h3>
      <div *ngFor="let network of availableSocialNetworks" class="network" [ngClass]="network.platform">
        {{ network.platform }}
        <button class="add-button" (click)="addSubscription(network.id)">+</button>
      </div>
    </div>
  
    <div class="subscriptions">
      <h3>Subscriptions:</h3>
      <div *ngFor="let subscription of userSubscriptions" class="subscription" [ngClass]="subscription.platform">
        {{ subscription.platform }}
        <button class="remove-button" (click)="removeSubscription(subscription.id)">x</button>
      </div>
    </div>
  
    <button class="close-account-button">Close account</button>
   </div>
  

  <!-- Componente de notificaciones -->
  <app-notification *ngIf="activeTab === 'notifications'" [notifications]="user!.notifications"></app-notification>


  
</div>
