<div class="user-container" [class.disabled]="isAccountClosed">
  <div class="tabs">
    <button 
      class="tab" 
      [ngClass]="activeTab === 'user' ? 'active' : ''" 
      (click)="setActiveTab('user')"
      [disabled]="isAccountClosed">
      User
    </button>
    <button 
      class="tab" 
      [ngClass]="activeTab === 'notifications' ? 'active' : ''" 
      (click)="setActiveTab('notifications')"
      [disabled]="isAccountClosed">
      Notifications ({{ isAccountClosed ? 'Disabled' : user!.notifications.length }})
    </button>
  </div>

  <div *ngIf="activeTab === 'user'">
    <div class="user-info">
      <p><strong>Name:</strong> {{user!.name}}</p>
      <p><strong>Age:</strong> {{user!.age}}</p>
      <p><strong>Status:</strong> {{user!.status}}</p>
      <p><strong>Subscription type:</strong></p>
  
      <button 
        [ngClass]="user?.subscriptionType === 'free' ? 'subscription-button premium' : 'subscription-button'"
        (click)="updateSubscription('free')"
        [disabled]="isAccountClosed">
        Free
      </button>
  
      <button 
        [ngClass]="user?.subscriptionType === 'premium' ? 'subscription-button premium' : 'subscription-button'"
        (click)="updateSubscription('premium')"
        [disabled]="isAccountClosed">
        Premium
      </button>
  
      <p><strong>Amount available:</strong> {{user!.amountAvailable}}$</p>
    </div>

    <div class="social-networks">
      <h3>Available Social Networks</h3>
      <div *ngFor="let network of availableSocialNetworks" class="network" [ngClass]="network.platform">
        {{ network.platform }}
        <button class="add-button" (click)="addSubscription(network.id)" [disabled]="isAccountClosed">+</button>
      </div>
    </div>
  
    <div class="subscriptions">
      <h3>Subscriptions:</h3>
      <div *ngFor="let subscription of userSubscriptions" class="subscription" [ngClass]="subscription.platform">
        {{ subscription.platform }}
        <button class="remove-button" (click)="removeSubscription(subscription.id)" [disabled]="isAccountClosed">x</button>
      </div>
    </div>
  
    <button class="close-account-button" (click)="closeAccount()">Close account</button>
  </div>

  <app-notification *ngIf="activeTab === 'notifications'" [notifications]="user!.notifications"></app-notification>
</div>
